.Hero img{
   height: 450px;
   width: 1500px;
 }

 .Hero h1{
    text-decoration: none;
    color:black;
    font-family: Verdana;
    text-align: center;
 }
 .Hero p{
    text-decoration: none;
    color:black;
    font-family: Verdana;
    text-align: center;
 }
.bg2 img {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    display: flex;
     
}
.bg3 img {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  display: flex;
   
}

.bg3 {
  position: relative;
  display: inline-block;
  width: 100%;  
  text-align: center;
}

.logos {
  height: 40px;
  width:700px;
  margin-bottom: 100px;

}
.bg2 {
   position: relative;
   display: inline-block;
   width: 100%;  
   text-align: center;
 }
 
 .image {
   width: 100%; 
   height: auto;
 }
 
 .overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-family: Verdana;
 }
  
.overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Verdana;
}
.overlay2 p{
  color: white;
}
 
 h2, p {
   margin: 0;
 }
.overlay p{
   color: white;
} 
 
 
.card-container {
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-between;  
  
}

.card {
  width: 300px; 
  margin-bottom: 20px;  
  border: 2px solid #000000;
  border-radius: 0px;
  overflow: hidden; 
  margin-left: 30px;
  margin-right: 30px;
}

.vehi {
  width: 50px;  
  height: 100px;  
  object-fit: cover; 
}

.card-info {
  padding: 0px;
}

.card img{
  width: 270px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
}

.auction-status {
  font-size: 12px;
 
  border-radius: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;

}

.auction-status.live {
  background-color: green;
  color: white;
  width: 300px;  
  display: block;  
  padding: 7px 0px; 
  text-align: center;  
}

.auction-status.timed {
  background-color: orange;
  color: white;
  width: 300px; 
  display: block;  
  padding: 7px 0px; 
  text-align: center;
}

.bid-type {
  font-size: 14px;
  color: #666;
  
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.auction-info {
  flex: 1;
}

.most-viewed {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-all-.btn {
  background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-button:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}
.view-all-button:hover {
  background-color: #ccc;
}
.sbtn {
  background-color: #6b6969;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}
.sbtn:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}
