.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-right: 120px;
  }
  
  .search-bar {
    display: flex;
    width: 700px;
    margin-left: 60px;
    margin-top: 10px;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .search-bar input {
    border: none;
    padding: 5px;
    width: 200px;
  }
  
  .search-bar i {
    margin-left: 5px;
  }
  
  .right-side {
    display: flex;
    align-items: center;
  }
  
  .right-side i {
    margin-right: 60px;
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }

  .card-container {
    display: flex; /* Use flexbox to arrange cards in a row */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between; /* Even spacing between cards */
    
  }
  
  .card {
    width: 20%; /* Control card width (adjust as needed) */
    margin-bottom: 20px; /* Spacing between rows */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Hide image overflow for rounded corners */
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .vehi {
    width: 50px;  
    height: 100px;  
    object-fit: cover; /* Maintain aspect ratio while resizing */
  }
  
  .card-info {
    padding: 10px;
  }
  .card img{
    width: 300px;
    height: 200px;
  }
  /* Small mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .header {
      padding: 5px;
    }
  
    .search-bar {
      padding: 5px;
      width: 250px;
      margin-left: 5px;
    }
  
    .search-bar input {
      padding: 5px;
    }
  
    .right-side {
      flex-direction: column;
      align-items: center;
    }
  
    .right-side i {
      margin-bottom: 10px;
    }
  }