.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-right: 120px;
  }
  
  .search-bar {
    display: flex;
    width: 700px;
    margin-left: 60px;
    margin-top: 10px;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .search-bar input {
    border: none;
    padding: 5px;
    width: 200px;
  }
  
  .search-bar i {
    margin-left: 5px;
    width: 200px;
  }
  
  .right-side {
    display: flex;
    align-items: center;
  }
  
  .right-side i {
    margin-right: 60px;
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }

  .card-container {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;  
    
  }
  
  .card {
    width: 300px; 
    margin-bottom: 20px;  
    border: 2px solid #000000;
    border-radius: 0px;
    overflow: hidden; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .vehi {
    width: 50px;  
    height: 100px;  
    object-fit: cover; 
  }
  
  .card-info {
    padding: 0px;
  }
  
  .card img{
    width: 270px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
  }
  
  .auction-status {
    font-size: 12px;
   
    border-radius: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
  
  }
  
  .auction-status.live {
    background-color: green;
    color: white;
    width: 300px;  
    display: block;  
    padding: 7px 0px; 
    text-align: center;  
  }
  
  .auction-status.timed {
    background-color: orange;
    color: white;
    width: 300px; 
    display: block;  
    padding: 7px 0px; 
    text-align: center;
  }
  
  .bid-type {
    font-size: 14px;
    color: #666;
    
  }
  /* Small mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .header {
      padding: 5px;
    }
  
    .search-bar {
      padding: 5px;
      width: 250px;
      margin-left: 5px;
    }
  
    .search-bar input {
      padding: 5px;
    }
  
    .right-side {
      flex-direction: column;
      align-items: center;
    }
  
    .right-side i {
      margin-bottom: 10px;
    }
  }